<div class="container">
 <form action="/weather" method="POST" >
  <div>
   <input type="text" name="cityName" placeholder = "Enter a City">
  </div>
  <div> 
   <button>Submit</button>
  </div>
 </form>
 <p>{{weatherText}}</p>
</div>


